<div class="group-container">
  <div class="user-details">
    <input class="title" disabled [value]="user?.username + '\'s groups'">
    <button class="add-button">
      <span class="material-icons">
        add
      </span>
    </button>
  </div>
  <div class="groups-list">
    <div *ngFor="let group of userGroups" class="btn-group">
      <button (click)="changeGroup(group.id)" class="button" [disabled]="group.id === groupId">
        {{ group.name }}
      </button>
    </div>
  </div>
</div>