<div class="group-container">
  <div class="user-details">
    <input class="title"
           disabled
           [value]="user?.username + '\'s groups'">

    <ng-template #popTitleMem>Group members</ng-template>
    <ng-template #popContentMem>
      <div class="popover-container">
        <div class="members-container">
          <div class="member"
               *ngFor="let mem of selectedGroupUsers">
            <a [routerLink]="['/profile', mem.id]">{{ mem.username }}</a>
          </div>
        </div>
      </div>
    </ng-template>
    <button class="add-button">
      <span class="material-icons"
            type="button"
            [ngbPopover]="popContentMem"
            [popoverTitle]="popTitleMem"
            placement="top">
        visibility
      </span>
    </button>
    <ng-template #popTitle>Create a new group!</ng-template>
    <ng-template #popContent>
      <div class="popover-container">
        <div class="form-group input-group">
          <label for="group-name"
                 style="font-weight: bold; margin-right: 10px">Name:</label>
          <input id="group-name"
                 class="form-control"
                 [class.is-invalid]="isGroupErrorVisible"
                 [formControl]="groupNameInput">
        </div>
        <div class="buttons-container">
          <button class="round-button"
                  (click)="closePopover()">
            <span class="material-icons">
              close
            </span>
          </button>
          <button class="round-button"
                  (click)="closePopoverAndCreateGroup()">
            <span class="material-icons">
              done
            </span>
          </button>
        </div>
      </div>
    </ng-template>
    <button class="add-button"
            type="button"
            [ngbPopover]="popContent"
            [popoverTitle]="popTitle"
            [autoClose]="false"
            placement="right"
            #popover="ngbPopover">
      <span class="material-icons">
        group_add
      </span>
    </button>
  </div>
  <div class="groups-list">
    <ng-template #popTitleUser>Add a user to the group!</ng-template>
    <ng-template #popContentUser>
      <div class="popover-container">
        <div class="input-group">
          <label for="group-name"
                 style="font-weight: bold; margin-right: 10px">Email:</label>
          <input id="group-name"
                 class="form-control"
                 [class.is-invalid]="isEmailErrorVisible"
                 [formControl]="userEmailInput">
        </div>
        <div class="buttons-container">
          <button class="round-button"
                  (click)="closePopoverUser()">
            <span class="material-icons">
              close
            </span>
          </button>
          <button class="round-button"
                  (click)="closePopoverAndCreateUser()">
            <span class="material-icons">
              done
            </span>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="userGroups?.length > 0; else noGroups">
      <div *ngFor="let group of userGroups"
           class="btn-group">
        <button (click)="changeGroup(group.id)"
                class="button"
                [disabled]="group.id === groupId">
          <span>
            {{ group.name }}
          </span>
          <div class="group-buttons-container"
               *ngIf="groupId === group.id; else notSelectedGroup">
            <button class="round-button group-button">
              <span class="material-icons"
                    [ngbPopover]="popContentUser"
                    [popoverTitle]="popTitleUser"
                    [autoClose]="false"
                    container="body"
                    #popoverUser="ngbPopover"
                    placement="bottom">
                person_add
              </span>
            </button>
            <button class="round-button group-button">
              <span class="material-icons"
                    (click)="onGroupDeleted()">
                delete
              </span>
            </button>
          </div>
          <ng-template #notSelectedGroup>
            <div *ngIf="groupNotifications.get(group.id) as count" class="notifications-counter inset-shadow">
              {{ count <= 99 ? count : '99+' }}
            </div>
          </ng-template>
        </button>
      </div>
    </ng-container>
    <ng-template #noGroups>
      <div class="no-groups">
        <span>You have no groups. Create one!</span>
        <span class="material-icons">north</span>
      </div>
    </ng-template>
  </div>
</div>