.group-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .user-details {
        background-color: lightgrey;
        color: black;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        .title:disabled {
            flex: 1 1 auto;
            margin-right: 15px;
            padding: 0 10px;
            height: 40px;
            background-color: white;
            color: black;
            font-weight: bold;
            border-radius: 20px;
            border: 0;
            box-shadow: inset 0 0 4px #424242;
        }
    }

    .groups-list {
        flex: 1;
        overflow-y: scroll;

        .btn-group {
            width: 100%;

            .button {
                margin: 4px 0;
                box-shadow: 0 3px 5px black;
                border-radius: 10px;
                background-color: #096622;
                border: 0;
                height: 50px;
                color: white;
                text-align: left;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .group-buttons-container {
                    display: flex;

                    .group-button {
                        background-color: #00250a00;
                        color: black;
                        margin-right: 5px;
                    }

                    .group-button:hover {
                        background-color: #44444448;
                    }
                }
            }

            .button:hover {
                background-color: #3e8e41;
            }

            .button:disabled {
                background-color: #94ffb1;
                color: black;
                font-weight: bold;
            }
        }
    }
}
.groups-list::-webkit-scrollbar {
    width: 0px;
}

.groups-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.groups-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.322);
}

.round-button {
    border: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.round-button:hover {
    background-color: rgb(235, 235, 235);
}

.add-button {
    border: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: inset 0 0 4px #424242;
}

.popover-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .input-group {
        display: flex;
        align-items: center;
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }
}
