<div class="background-container">
    <ngb-alert #successAlert
               class="fixed-alert"
               *ngIf="successMessage"
               type="success"
               (closed)="successMessage = ''"
               [innerHTML]="successMessage">
    </ngb-alert>
    <ngb-alert #dangerAlert
               class="fixed-alert"
               *ngIf="dangerMessage"
               type="danger"
               (closed)="dangerMessage = ''"
               [innerHTML]="dangerMessage">
    </ngb-alert>
    <div class="form-container">
        <div class="form-group">
            <label for="email">
                Email
            </label>
            <input id="email"
                   [formControl]="emailInput"
                   class="form-control inset-shadow"
                   required>
            <div *ngIf="submitted && emailInput.invalid"
                 class="invalid-feedback d-block" style="font-size: 16px;">
                <div *ngIf="emailInput.errors.required">Please enter your email.</div>
                <div *ngIf="emailInput.errors.email">Please enter a valid email</div>
            </div>
        </div>

        <button (click)="sendEmail()"
                class="btn btn-primary"
                style="background-color: #1a6640; border: 0;">
            Send Email
        </button>
    </div>
</div>