<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">IMessage</a>
    
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="(loggedUser$ |async)" class="nav-item">
          <a class="nav-link" [routerLink]="['/messenger']">Messenger</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <app-navbar-profile [user]="loggedUser$ | async"></app-navbar-profile>
      </ul>
    </div>
  </nav>