.navbar-brand{
    font-size: 32px;

}
.dropdown-toggle{
    cursor: pointer;
}
.vl {
    border-left: 8px solid white;
    padding-right: 20px;
    height: 60px;
  }
.navbar-custom{
    background-color: #1a6640;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
}