<div class="background-container">
    <ngb-alert #dangerAlert
               class="fixed-alert"
               *ngIf="dangerMessage"
               type="danger"
               (closed)="dangerMessage = ''"
               [innerHTML]="dangerMessage">
    </ngb-alert>
    <div class="signin-container box-shadow">
        <h1 class="display-5 py-2 text-truncate">
            <input class="title-text"
                   disabled
                   value="Welcome to IMessage">
        </h1>
        <form [formGroup]="signinForm">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input formControlName="email"
                       type="email"
                       class="form-control inset-shadow"
                       id="emailInput"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input formControlName="password"
                       type="password"
                       class="form-control inset-shadow"
                       id="passwordInput"
                       placeholder="Password">
            </div>
            <div class="prompt">
                <div>
                    <small>Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></small>
                </div>
                <div>
                    <small>Forgot your password? <a [routerLink]="['/forgot']">Click here!</a></small>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    style="background-color: #1a6640; border: 0;"
                    (click)="validateForm()"
                    [disabled]="signinForm.invalid">
                Sign In
            </button>
        </form>
    </div>
</div>