<div class="details-container">
    <div class="container">
        <div class="user-details">
            <div id="profile-row"
                 class="row justify-content-center align-items-center">
                <div id="profile-column"
                     class="col-md-10">
                    <div id="profile-box"
                         class="col-md-12">
                        <h1>
                            <span class="material-icons" style="font-size: 40px;">
                                account_box
                            </span>
                            Profile Page
                        </h1>
                        <ngb-alert #successAlert
                                   class="fixed-alert"
                                   *ngIf="successMessage"
                                   type="success"
                                   (closed)="successMessage = ''"
                                   [innerHTML]="successMessage">
                        </ngb-alert>
                        <div class="form-group">
                            <label for="username">User ID</label>
                            <div class="input-group-text">
                                <input #id="ngModel"
                                       [(ngModel)]="user.id"
                                       name="id"
                                       id="id"
                                       type="text"
                                       class="form-control"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Email</label>
                            <div class="input-group-text">
                                <input #email="ngModel"
                                       [(ngModel)]="user.email"
                                       name="email"
                                       id="email"
                                       type="text"
                                       class="form-control"
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <div class="input-group-text">
                                <input #username="ngModel"
                                       [(ngModel)]="user.username"
                                       name="username"
                                       id="username"
                                       type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <button type="button"
                                    class="btn btn-primary"
                                    (click)="saveProfile(username.value)">Update profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>