<div class="background-container"
     *ngIf="resetPassword">
    <div class="form-container">
        <div class="form-group">
            <label for="passwordInput">
                New Password
            </label>
            <input id="passwordInput"
                   class="form-control inset-shadow"
                   [formControl]="passwordInput"
                   type="password">
        </div>
        <div class="form-group">
            <label for="repeatPasswordInput">
                Confirm New Password
            </label>
            <input id="repeatPasswordInput"
                   class="form-control inset-shadow"
                   [formControl]="confirmPasswordInput"
                   type="password">
        </div>
        <button (click)="updatePassword()">Confirm</button>
    </div>
</div>
<div class="background-container"
     *ngIf="!resetPassword">
    <div class="form-container">
        <h1 class="display-5 py-2 text-truncate">
            <input class="title-text"
                   disabled
                   value="Warning!">
        </h1>
        <h5>Your request was processed. If you want to reset again the password, you have to return to sigin page.</h5>
        <br>
        <button [routerLink]="['/signin']"
                class="btn btn-primary"
                style="background-color: #1a6640; border: 0;">Return
        </button>
    </div>
</div>