.profile-container{
    position: relative;
    height: 100%;
    background-color: #00250a;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fixed-alert {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}