.messenger-container {
    position: relative;

    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #00250a;

    .groups-container {
        width: 35%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .messages-container {
        display: flex;
        flex: 1;
        padding-left: 20px;

        .messages {
            flex: 1;
        }
    }
}

.fixed-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}