<div class="signup-container">
    <div class="container">
        <div class="signup-form">
            <div id="signup-row"
                 class="row justify-content-center align-items-center">
                <div id="signup-column"
                     class="col-md-12">
                    <div id="signup-box"
                         class="col-md-12">
                        <h1 class="display-5 py-2 text-truncate title-container">
                            <input disabled
                                   [value]="'Create Account Here!'"
                                   class="title-text">
                            <span class="material-icons"
                                  style="font-size: 45px; padding-right: 20px">
                                account_circle
                            </span>
                        </h1>
                        <div class="px-2">
                            <form [formGroup]="signupForm"
                                  (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="usernameImput">Username*</label>
                                    <input formControlName="username"
                                           type="email"
                                           class="form-control inset-shadow"
                                           id="usernameImput"
                                           placeholder="Enter username"
                                           required>
                                    <div *ngIf="submitted && username.invalid"
                                         class="alert alert-danger">Username is required</div>
                                </div>
                                <div class="form-group">
                                    <label for="emailInput">Email address*</label>
                                    <input formControlName="email"
                                           type="email"
                                           class="form-control inset-shadow"
                                           id="emailInput"
                                           placeholder="Enter email"
                                           required>
                                    <div *ngIf="submitted  && email.invalid"
                                         class="alert alert-danger">
                                        <div *ngIf="email.errors.required"> Email is required</div>
                                        <div *ngIf="email.errors.email"> Email is not correct</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordInput">Password*</label>
                                    <input formControlName="password"
                                           type="password"
                                           class="form-control inset-shadow"
                                           id="passwordInput"
                                           placeholder="Password"
                                           required>
                                    <div *ngIf="submitted  && password.invalid"
                                         class="alert alert-danger">
                                        <div *ngIf="password.errors.required">You have to set a password</div>
                                        <div *ngIf="password.errors.minlength">Password should have more than {{
                                            password.errors.minlength.requiredLength }} characters</div>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <div>
                                        <small>Already have an account? <a [routerLink]="['/signin']">Sign
                                                in</a></small>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary"
                                            style="background-color: #1a6640; border: 0;">
                                        Sign Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>