.signup-container {
    position: relative;
    height: 100%;
    background-color: #00250a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fixed-alert{
        position: absolute;
        margin-bottom: 0px;
        top: 0;
        left: 0;
        width: 100%;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title-text:disabled {
            flex: 1;
            margin: 0 20px;
            background-color: white;
            color: black;
            font-weight: bold;
            border: 0;
            border-radius: 25px;
            text-align: center;
            box-shadow: inset 0 0 4px #424242;
        }
    }

    
}
.container {
    width: 700px;
    .signup-form {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: lightgrey;
        box-shadow: rgba(0, 0, 0, 0.5) 15px 10px 20px;
        border-radius: 20px;
    }
}

.form-group {
    label {
        font-weight: bold;
    }
}
