/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body {
    padding-top: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inset-shadow {
    box-shadow: inset 0 0 4px #424242;
}

.fixed-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mr-15 {
    margin-right: 15px;
}