<div class="chat-container"
     style="height: 100%">
    <div #messagesArea
         class="messages"
         style="height: 100%;"
         infiniteScroll
         [scrollWindow]="false"
         [alwaysCallback]="true"
         [infiniteScrollDistance]="3"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="50"
         (scrolledUp)="onScrollUp()">
        <div *ngIf="viewPrepared">
            <div class="end-of-list">
                <div *ngIf="initialMessagesCount >= SIZE">
                    <span *ngIf="endReached">
                        Group was created
                    </span>
                    <span *ngIf="!endReached">
                        Loading more messages...
                    </span>
                </div>
                <div *ngIf="initialMessagesCount < SIZE">
                    <span>Group was created</span>
                </div>
            </div>
            <div *ngFor="let message of messages"
                 class="message-container"
                 [ngClass]="{
                    'own': message.sender === user.id,
                    'other': message.sender !== user.id
                }">
                <div class="message">
                    <div class="header">
                        <div class="date">{{ message.date | date: 'M/d/yy, h:mm a' }}</div>
                        <div class="name"
                             *ngIf="message.sender !== user.id">{{ getMessageUser(message) }}</div>
                    </div>
                    <div class="body">{{ message.text }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="input"
         (keyup.enter)="onMessageSent()">
        <i (click)="toggled = !toggled"
           [(emojiPickerIf)]="toggled"
           [emojiPickerDirection]="'left'"
           (emojiPickerSelect)="handleSelection($event)"
           class="send-button mr-15">
            <span class="material-icons">
                emoji_emotions
            </span>
        </i>
        <input class="user-input"
               [formControl]="messageInput">
        <button (click)="onMessageSent()"
                class="send-button">
            <span class="material-icons">
                send
            </span>
        </button>
    </div>
</div>